@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome"; // 共通css

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  a {
    color: #000;
    text-decoration: none;
    // -webkit-tap-highlight-color:rgba(0,0,0,0);//クリック時ハイライト無効
  }

  a:hover {
    color: #000;
    text-decoration: none;
  }
}

body {
  padding-top: 50px;
}

img {
  height: auto;
  height: 300px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  object-fit: cover;
}

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

input[type="submit"] {
  margin-bottom: 10px;
}

.btn-area {
  margin: 50px 0;
}
// index.html.erb

.navbar {
  margin-bottom: 0;
}

.navbar-brand,
.navbar-default {
  color: #000;
}

.col-md-5 {
  height: 450px;
  margin: 0 10px 20px;
  background-color: #ffffffb5;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding: 20px 15px;
  font-size: 20px;
}

#btn-click {
  cursor: pointer;
}

.top-container {
  background-image: image-url('blue_bg.jpg');
  height: auto;
  min-height: 2000px;
  background-size: cover;

  p {
    margin: 0;
  }
}

.new-img {
  width: auto;
  height: 300px;

  img {
    height: 300px;
  }
}

.new-detail {
  p {
    padding-bottom: 5px;
  }
}

.good-btn {
  display: flex;
}
// show.html.erb

.show-container {
  background-image: image-url('blue_bg.jpg');
  height: auto;
  min-height: 900px;
  background-size: cover;
  .margin {
    margin-top: 30px;
  }

  .btn-area {
    margin: 50px 0;
  }
}
// _form.html.erb

#file {
  position: relative;
  cursor: pointer;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #333;
    font-size: 60px;
  }
}

#post_image {
  display: none;
}

input[type="file"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

label {
  padding: 10px 25px;
  margin: 0 0 10px;
  background: #aaa;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}

.fileclear {
  display: none;
  margin: 10px 0 0;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
// pagination 中央寄せ

.centerpc,
.centersp {
  text-align: center;
  margin-right: 50px;
}
// サイドバー

.col-md-4 {
  margin-bottom: 30px;
}

.side-container {
  background-color: #ffa500;
  padding: 1px 0;

  .side {
    display: flex;
    margin: 20px 10px;
    background-color: #fff;

    .side-img {
      height: 200px;

      img {
        width: 165px;
        height: 200px;
      }
    }

    .side-detail {
      margin-top: 20px;

      p {
        padding-bottom: 10px;
      }
    }
  }
}
// 769px以下に適用するcss
@media screen and (max-width:768px) {
  .centerpc {
    display: none;
  }
}
// 768px以上に適用するcss
@media screen and (min-width:769px) {
  .centersp {
    display: none;
  }
}
// footer

footer {
  position: relative;
  clear: both;
  background-color: #444;
  bottom: 0;
  padding: 15px 5px 0;
  color: #fff;
  font-size: 12px;
}

footer .navbar-nav li a {
  text-align: center;
  color: #fff;
  padding-left: 0.5em;
  text-decoration: underline;
}

footer .navbar-nav li a:hover {
  color: #dcdcdc;
}

.copyright {
  text-align: left;
  font-size: 90%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
// #input_plural {
//     margin: 10px 0;
// }
// #input_plural input.form-control {
//     display: inline-block;
//     width: 100%;
//     height: 34px;
//     padding: 6px 12px;
//     font-size: 14px;
//     color: #555;
// }
// #input_plural input.pluralBtn {
//     width: 40px;
//     height: 30px;
//     border: 1px solid #ccc;
//     background: #fff;
//     border-radius: 5px;
//     padding: 0;
//     margin: 0;
// }
